@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



 



/* 공통부분 */

body{font-family: 'GmarketSansMedium','Noto Sans KR', sans-serif;}
h3{font-family: 'GmarketSansBold';text-align: center;}
h4,h5,h6,strong,span,input{font-family: 'GmarketSansLight'; font-weight: 700;}
p{font-size: 0.8em; font-family: 'GmarketSansLight';font-weight: 700;}
label{margin-bottom: 0;}


.review > ul{display: flex; align-items: flex-end;}
.review > ul > li{margin-right: 30px;}


/* nav */

#hd{ padding: 0.5rem 0; }
.gnb_1da {  
   
    font-size: 1.2rem; 
  }
  #gnb_all{ left:0}
  #gnb_all h2{ display: none;}


/* 상단배너 슬라이드 */
#bn .swiper-wrapper .bn1{
    background-size: 100% auto;
    background-position: center; 
    background-image: url(http://bakhanbi98.dothome.co.kr/ncs/img/britaproject_img/firstbanner_test.jpg);
}
#bn .swiper-wrapper .bn2{ 
    background-size: 100% auto;
    background-position: center; 
    background-image: url(http://bakhanbi98.dothome.co.kr/ncs/img/britaproject_img/secondbanner1_test.jpg);
}
#bn .swiper-wrapper .bn3{ 
    background-size: 100% auto;
    background-position: center; 
    background-image: url(http://bakhanbi98.dothome.co.kr/ncs/img/britaproject_img/lastbanner_test.jpg);
}



#Csec, #Dsec, #Esec{ margin: 80px 0; min-height:600px; }

#bn .swiper-bn1, #bn .swiper-bn2, #bn .swiper-bn3{background-size: 60vh; max-width: 100%;}

/* 배너, 상단 */
#bn .swiper-slide{
    background-size:contain;
    background-repeat: no-repeat;
    max-height: 700px;  /*데스크탑 전용 기준 700픽셀이상 커지지 마! */
    height: 40vw;  /*이렇게 하면 끝! 나는 화면 넓이만큼 높이를 줄게 vw = 화면 넓이 단위*/
}


#container_wr{
    width: auto !important;
}

#bnbottom{ width: 100%; height: 5vh; display: flex; justify-content: space-around;}

#logo > a > img{
    height: 4em;
}
#bn .swiper-pagination-bullet, #Bsec .swiper-pagination-bullet{
    width: 1.5em; height: 1.5em; border-radius: 15px; transition: 0.6s; background-color: #b8e4ff;
}
#bn .swiper-pagination-bullet-active,
#Bsec .swiper-pagination-bullet-active{
    width:4em;
}
#bn .swiper-button-next:after, #bn .swiper-button-prev:after,
#Bsec .swiper-button-next:after, #Bsec .swiper-button-prev:after{color: #439fd8;}

/* bnbottom */
#bnbottom .product{
    width: 100%;
    height: 4.5em;
    background-color: #06659F;
}
.product{
    justify-content: space-evenly!important;
}
.productext input:focus{ outline: none; box-shadow: none; border:0 !important}
.productext input[type='text']{ background-color: transparent; border:0; color:#cff0ff}
.productext li{
border-bottom:1px solid White
}
.product h5,
.product h6{
    color: #fff;
    font-weight: 200;
}
.product h5{
    font-size: 1em;
}
.product h6{
    font-size: 0.8em;
}
.productext ul li a{
    color: #06456b;
}
.productext ul li a:hover{
    color: #007bff;
}
.search{width: 1.5em; height: 1.5em;}



/* Asec */
#Asec{margin: 0 auto; max-height: 100vh; }
#Asec h3{margin: 1.5em 0;}
#Asec .effect .youtubeBox > div{ position: relative; height: 0; padding-top: 56%; }
#Asec .effect .youtubeBox iframe{ position: absolute; left:0; top:0; width:100%; height:100%;}

/* .britaeffect h4{margin-top: 4.5em;} */

/* Bsec */
.event h3{margin: 1.5em 0;}


.swiper-slide{width: 100%; height: 820px;}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 820px;
    object-fit: cover;
}
/* #Bsec .swiper-slide{ height:0; padding-top: 42.8%; min-height:800px; background-repeat: no-repeat;} */



/* Csec */
#Csec h3{margin: 1.5em 0;}

/* review */
.re > a > img{
    /* height: 20em; */
    /* width: 21.2em; */
    transition: all 0.2s;
    max-width: 100%;
    width: 350px;
    height: 350px;
}
.re > a:hover > img{
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}
.re > a{
    overflow: hidden;
}


.re_img div img{
    height: 1.5em;
    width: 1.5em;
}


/* .a img {
    transition: all 0.2s linear;
  }
  .a:hover img {
    transform: scale(1.4);
  } 
  .a {
  width: 400px;
  margin: 0px auto;
  overflow: hidden;
}*/

.re .re_img p{
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 0.5em;
}
.re .re_img{ padding: 0.4rem 0;}
.rt .re{ padding: 0 1rem; overflow: hidden;}
/* best아닌 start간격 */
.rt .re_img > img{ margin-left: 0.4rem; }

/* Dsec */
#notice > div > h3{margin: 1.5em 0;}

.noticetext{
    max-width: 75em;
    height: 10em;
    background-color: #90E0DB;
    margin: 0 auto;
}
/* #notice form ul{margin: 5em auto;} */

#noticetext input[type='checkbox'] label{font-family: 'GmarketSansLight'; font-weight: 700;}
#noticetext label{color: #555;font-size: 0.7em;}

.noticename{
    max-width: 50em;
    min-width: 35em;
    border-top: solid 4px #dff7f5;
    /* border-radius: 3px; */
    display: flex;
    text-align: center;
    justify-content: space-around;
    /* line-height: 2.5em; */
    align-items: center;
}
.noticename:nth-last-child(1){
    border-bottom: solid 4px #dff7f5;
}
/* .noticename .check{ margin-left: 5em;} */

.noticename div label{
    font-size: 0.8em;
    color: #555; 
    text-align: center;
}
.noticename strong{
    color: #000;
    /* margin-right: 6em; */
    /* margin: 0 auto; */
    line-height: 3.5em;
}
.check{
    position: relative;
    display: inline-block;
}
.check::after{
    content: "";
    display: block;
    position: absolute;
    height: 0.153em;
    background-color: #25c3b9;
    transition: 0.6s;
    width: 0;
}

.check::after{
    bottom: 0;
    left: 0;
    
}
.check:hover::after{
    width: 100%;
}
.check input{
    background-color: transparent;
    border: 0;
    color: #90E0DB; 
}

.send{ border:none; border-radius: 2em; padding: 0.5rem; background-color: #90e0db;}
.send[type='submit']:hover{background-color: #cff0ff;}






/* Esec */
#Esec h3{margin: 1.5em 0;}
.box{
      
    height: 4em;
    background-color: #90E0DB;   
    align-items: center;
    position: relative;
}

/* .box input{
    background-color: transparent;
    border: 0;
    color: #06456b; 
} */


.search_t_1{
    width: 7em;
}
.search_t_2{
    width: 15.5em;
}
.search_t_1, .search_t_2{
    background-color: transparent;
    border: 0;
    color: #06456b;
}
/* ================================================ */
.inbox{
    position: relative;
    display: inline-block;
   }
 
   .inbox::after{
                 content: "";
                 display: block;
                 position: absolute;
                 height: 0.153em;
                 background-color: #25c3b9;
                 transition: 0.6s;
                 width: 0;
             }
 
             .inbox::after{
                 bottom: 0;
                 left: 0;
                 
             }
             .inbox:hover::after{
                 width: 100%;
             }
 /* ================================================================== */

#mapTextdiv{ text-align: center;}

.mapimg{margin-right: 2em; width: 100%;}
.mapimg img{max-width: 5rem; height: 5rem;}


.root_daum_roughmap .wrap_controllers{
    display: none;
}
.area_text{
    border-top: 4px solid #dff7f5;
    line-height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28em;
}
.area_text:nth-last-child(1){
    border-bottom: solid 4px #dff7f5;
}
.area_text a{
    display: block;
    color: #000;
}
.area_text strong{
    color: #08E1D4;
}

#map .swiper-pagination-bullets{width: 60%; margin: 5em 0;}
#map .swiper-pagination-bullet{
    width: 2em;
    height: 2em;
    border-radius: 20px;
    background-color: #90E0DB;
    color: #90E0DB;
    transition: 0.6s;
    line-height: 2.25em;
}

#map .swiper-pagination-bullet-active{
    width: 10em;
    color: #555;
}

#map { max-height:400px; height:80vw}

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

/* ========================== */

/* #bn .swiper-pagination-bullet, #Bsec .swiper-pagination-bullet{
    width: 1em; height: 1em; border-radius: 10px; background-color: #b8e4ff; transition: 0.6s;
}
#bn .swiper-pagination-bullet-active,
#Bsec .swiper-pagination-bullet-active{
    width:4em;
}
#bn .swiper-button-next:after, #bn .swiper-button-prev:after,
#Bsec .swiper-button-next:after, #Bsec .swiper-button-prev:after{color: #b8e4ff;} */


/* ========================== */
.firstevent{
    background-image:url(/ncs/img/britaproject_img/firstevent_test.jpg);
    
}
.secondevent{
    background-image:url(/ncs/img/britaproject_img/secondevent_test.png);
    
}


@media (min-width:992px) {
    .event  .swiper-slide{  background-size:100% auto; }
    
}

.event  .swiper-slide{ height:54vw;  background-repeat: no-repeat; background-position: center; max-height:700px; }

@media (max-width:1280px){
  
    #bn  .swiper-wrapper .swiper-slide{
        background-size:auto 100%;
        
        max-height: none;  /*데스크탑 전용 기준 700픽셀이상 커지지 마! */
        height: 50vw;  /*이렇게 하면 끝! 나는 화면 넓이만큼 높이를 줄게 vw = 화면 넓이 단위*/
    }
}
@media (max-width:992px){
    #Asec, #Bsec, #Csec, #Dsec, #Esec{ height: auto;}
    .event  .swiper-slide{ background-size: auto 100%;}

}

@media(min-width:768px){
    #banner .swiper{
        height: 650px; padding-top: 0;
    }
}
@media(max-width:768px){
    #banner .ad{background-position: calc(50% - 10vw);}
}